.about {
  padding: 8rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__desc {
    padding: 3rem 0;
    text-align: center;
    max-width: 87.8rem;
  }

  &__inner {
    background: url(../../img/doktor_quin.png) no-repeat center bottom;
    height: 60rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    
    @include media(large) {
      height: auto;
      background: none;
      flex-wrap: nowrap;
    }

    @include media(mega) {
      width: 140rem;
    }
  }
  
  
}

.about-info {
  margin-top: 2rem;
  margin-bottom: 3rem;
  max-width: 36rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  @include media(large) {
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }

  @include media(small) {

  }

  &__icon {
    margin: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.5rem;
    height: 7.5rem;
    background-color: #1a9bdc;
    border-radius: 50%;
  }

  &__header {
    flex: 2 1 50%;
  }

  &__desc {
    text-align: justify;
    max-width: 36.3rem;

    @include media(large) {
      max-width: 40rem;
      flex: 1 1 100%;
    }
  }
}

