.btn {
  box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
  background-color: #1a9bdc;
  color: #ffffff;
  font-family: $open-sans;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  /* Text style for "Read more" */
  letter-spacing: 0.32px;
  border: none;
  padding: 1.5rem 3rem;
  border-radius: 4rem;
  width: fit-content;
  cursor: pointer;
  outline: none;
}