.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @include media(large) {
    flex-direction: row;
    margin: 3rem 0;
  }
}

.header-top {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  @include media(large) {
    width: fit-content;
    justify-content: start;
  }
}

.header-bottom {
  padding: 0 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;    
  align-items: center;
  
  @include media(large) {
    // width: fit-content;
    padding: 0;
    justify-content: space-between;
  }
  
  @include media(small) {
    justify-content: flex-end;
  }
}

.header-info-box {
  margin: 3rem 0 3rem;
  display: flex;
  
  @include media(large) {
    display: none;
  }
  
  &--mobile {
    display: block;
    margin: 0;
    margin-bottom: 3rem;
    
    > * {
      margin-top: 1rem;
    }
  }
}

.header-info {
  display: flex;

  &__img {
    margin: 0 1rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 51px;
    background-color: #1a9bdc;
    border-radius: 50%;

    & i {
      color: #ffffff;
      font-size: 30px;
      font-weight: 400;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
  }

  &__text {
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
  }
}

.space-between-header {
  width: 90%;
  height: 2px;
  background-color: #c2c2c2;
  opacity: 0.31;

  @include media(large) {
    display: none;
  }
}