.hero {
  width: 100%;
  height: 64rem;
  background:  linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 17%, rgba(255,255,255,0.5) 28%, rgba(255,255,255,0.5) 57%, rgba(255,255,255,0.42) 64%, rgba(237,237,237,0.02) 100%), url(../../img/Layer_10@2x.jpg) no-repeat 50% 50% / cover;
  display: flex;
  align-items: center;
  
  @include media(large) {
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 17%, rgba(255,255,255,0.5) 28%, rgba(255,255,255,0.5) 57%, rgba(255,255,255,0.42) 64%, rgba(237,237,237,0.02) 100%), url(../../img/Layer_10@2x.jpg) no-repeat 52% 50% / cover;
    justify-content: center;

  }

  &__inner {
    margin-left: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include media(large) {
      margin-left: 0;
    }
  }

  &__header {
    margin: 0 1rem;
    max-width: 55.4rem;
    text-align: center;
  }

  &__desc {
    text-align: center;
    margin: 4rem 1rem;
    max-width: 42rem;
  }
}