.nav {

  @include media(large) {
    display: none;
  }

  &__list {
    margin: 3rem 0;
    list-style: none;
    display: flex;
  }

  &__item {
    display: flex;
    justify-content: center;
    width: 12rem;
  }

  &__link {
    text-align: center;
    color: #6c6c6c;
    font-family: $roboto;
    font-size: 2rem;
    font-weight: 400;
    transition: all .3s ease-in-out;
    border-bottom: 2px solid transparent;
    
    &:hover {
      border-bottom: 2px solid #6c6c6c;
      color: #000;
    }
  }
}
