.services {
  display: flex;
  flex-wrap: wrap;

  &__inner {
    padding: 6rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 25%;
    
    @include media(large) {
      flex: 1 1 50%;
      // padding: 6rem 4rem;
    }
    
    @include media(small) {
      // padding: 6rem 3rem;
      flex: 1 1 100%;
    }

    > * {
      margin: 1rem 0;
    }

    &--1 {
      background: #43b1d2;
    }
    
    &--2 {
      background: #3fb6c6;
    }
    
    &--3 {
      background: #3cbbbb;
    }
    
    &--4 {
      background: #37c3a8;
    }
  }

  &__header {
    text-align: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-color: #ffffff;
  }
  

  &__desc {
    max-width: 30rem;
    text-align: center;
    color: #ffffff;
  }
}