.social-icons {

  @include media(large) {
    margin-left: 8rem;
  }

  @include media(small) {
    display: none;
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    padding: 1.3rem;

    & i {
      font-size: 2.3rem;
      color: #636363;
      transition: .2s;
      
      &:hover {
        color: shade(#636363,50%);
      }
    }
  }

}

.white {
  color: #ffffff !important;
}